@media (max-width: 320px) {
    .element {
          width: 90%;   
         }
    }  
 
.container {
 /* background-image: url(./images/web-design-2906159_1920.jpg); */
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.topnav {
    overflow: hidden;
    opacity: 1;
    text-align: right;
    font-weight: bolder;
    font-size: 26px;
    padding: 25px 16px;
    position: fixed;
    right: 10px;

}

.topnav a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bolder;
}

.topnav a:hover {
    background-color: rgb(68, 127, 134);
    color: white;
}

.addTask {
    position: relative;
    display: inline;
    text-align: center;
    align-items: center;
    padding-top: 16em;
}

/*
.form {
    background-color: rgb(204, 214, 233, 0.7);
    font-size: 25;
    font-weight: bold;
    float: right; /* look into clearfix hack 
    border-radius: 10px;
    margin-top: 3em;
    width: 100%;
    /* padding-top: 8px;
    padding-bottom: 8px; 
    padding: 8px 0 8px 5px;  
    text-align: center;
} */
/*
.myText {
    width: 40%;
} */

.done {
    width: 80%;
    display: inline-block;
    text-align: center;
    background-color: aliceblue;
}

.plus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 3%;
    height: 3%;
}

.edit {
    width: 5%;
    height: 5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    opacity: 0.5;
    color: black;
    text-align: center;
}

.h2 {
    color: black;
}

.footer-copyright {
    color: black;
    text-align: center;
}