@media (max-width: 320px) {
  .element {
        width: 90%;   
       }
  }  

.flex-fill {
  background-color: #a4f0b5;
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0 50px 0;
}

.addtask {
  padding-bottom: 2em;
}

.taskCountArea {
  padding: 20px 0 20px 0;
  text-align: center;
  background-color: rgb(121, 206, 121);
}

.taskRow {
  border-bottom: 2px solid darkgray;
  padding: 20px 0 20px 0;
}

.tasksCompleted {
  padding: 20px 0 20px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  opacity: 0.5;
  text-align: center;
  padding-top: 10px;
}

.h2 {
  color: black;
}