@media (max-width: 320px) {
  .element {
        width: 90%;   
       }
  }  

.flex-fill {
  background-color: #a4f0b5;
  background-image: url(./images/blueback.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0 50px 0;
  font-family: 'Sriracha', cursive;
}

.addtask {
  padding-bottom: 1em;
  font-family: 'Amatic SC', cursive;
}

.taskCountArea {
  padding: 5em 0 2em 0;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.taskRow {
  padding: 2em 0 0 0;
  font-family: 'Alata', sans-serif;
  font-size: larger;
  display: flex;
}

.completedTitle {
  font-family: 'Amatic SC', cursive;
  padding-top: 2em;
  text-align: center;
}

.tasksCompleted {
  font-family: 'Alata', sans-serif;
  font-size: larger;
  text-align: left;
}

ul {
  list-style-type: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  opacity: 0.5;
  text-align: center;
  padding-top: 10px;
}

.h2 {
  color: black;
}